@model StockManagement.Models.Product

@{
    ViewData["Title"] = "Delete Product";
}

<style>
    .container {
        padding: 20px;
        max-width: 1200px;
        margin: auto;
    }

    h1 {
        color: #343a40;
        margin-bottom: 20px;
    }

    .form-group {
        margin-top: 20px;
    }

        .form-group input[type="submit"] {
            margin-right: 10px;
        }
</style>

<div class="container">
    <h1>Delete Product</h1>

    <h3>Are you sure you want to delete this product?</h3>
    <div>
        <h4>Product</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ProductName)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.ProductName)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Supplier)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Supplier.SupplierName)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Category)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Category.CategoryName)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.QuantityPerUnit)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.QuantityPerUnit)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.UnitPrice)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.UnitPrice)</dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ProductId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>
