@model StockManagement.Models.Stock

@{
    ViewData["Title"] = "Stock Details";
}

<style>
    .container {
        padding: 20px;
        max-width: 900px;
        margin: auto;
    }

    h1 {
        color: #343a40;
    }

    .btn-primary, .btn-secondary {
        margin-right: 10px;
    }

    dl {
        margin: 0;
    }

    dt, dd {
        margin: 0;
        padding: 0.5rem 0;
    }
</style>

<div class="container">
    <h1>Stock Details</h1>

    <div>
        <h4>Stock</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.ProductName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateReceived)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateReceived)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ExpiryDate)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.StockId" class="btn btn-primary">Edit</a> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
